name: Update epg Action
on:
  push:
  schedule:
    - cron: '30 18,23 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          set +e
          wget --tries 1 --timeout=10 -O pp.xml.gz "https://epg.112114.xyz/pp.xml.gz" 
          wget --inet4-only --tries 1 --timeout=10 -O e.xml.gz "http://epg.51zmt.top:8000/e.xml.gz" 
          echo "Hi, now date is" `date` > README.md
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "generated"
          git push
